@import url("buttons.css");
@import url("table.css");

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row; /* Changed to row */
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-bar {
    display: flex; /* Use Flexbox */
    flex-direction: row; /* Align children horizontally */
    justify-content: space-around; /* Distribute space around items */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full viewport width */
    position: fixed; /* Fixed at the bottom */
    bottom: 0;
    z-index: 1000; /* Ensure it's above other content */
    background-color: #f8f9fa; /* Updated background color for modern look */
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Add shadow for depth */
    padding: 5px 0; /* Adjust padding for visual appeal */
}

.nav-bar button {
    flex-grow: 1; /* Buttons grow to fill available space */
    height: 50px; /* Fixed height */
    box-sizing: border-box;
    border: none; /* Remove border for a cleaner look */
    background-color: transparent; /* Transparent background */
    border-radius: 5px; /* Rounded corners */
    transition: transform 0.2s; /* Smooth scale transition */
    cursor: pointer; /* Change cursor on hover */
    margin: 2px; /* Adds space between buttons */
    display: flex; /* Use Flexbox for centering the image */
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
}

.nav-bar button img {
    width: 24px; /* Standard size for logos */
    height: auto; /* Maintain aspect ratio */
}

.nav-bar button.home img {
    width: 50px; /* Slightly larger logo for the home button */
}

.nav-bar button:hover {
    transform: scale(1.1); /* Slightly scale up on hover */
}

.nav-bar button:active, .nav-bar button:focus {
    transform: scale(0.95); /* Slightly scale down on click */
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 240px); /* Adjust based on sidebar or other elements */
    height: calc(100vh - 100px); /* Adjusted to account for fixed elements */
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    overflow: auto; /* Keep scrolling functionality */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.main-content::-webkit-scrollbar {
    display: none; /* For Webkit browsers like Chrome and Safari */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s infinite linear;
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 45%;
    padding: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hello-world-text {
    position: center;
    top: 20px;
    width: 100%;
    text-align: center;
}

/* * for classes, # for ids */

#helloworldimg {
    display: block; /* Makes the margin auto applicable */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.75);
}