body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row; /* Changed to row */
    height: 100vh;
}

.nav-bar {
    display: flex; /* Use Flexbox */
    flex-direction: row; /* Align children horizontally */
    justify-content: space-around; /* Distribute space around items */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full viewport width */
    position: fixed; /* Fixed at the bottom */
    bottom: 0;
    z-index: 1000; /* Ensure it's above other content */
}

.nav-bar button {
    flex-grow: 1; /* Buttons grow to fill available space */
    height: 50px; /* Fixed height */
    box-sizing: border-box;
    border: 1px solid #9a9a9a;
    background-color: #c3c1c1; /* Example background color */
}

.nav-bar-button-pressed {
    background-color: #585858;
    color: rgb(255, 255, 255);
    border: 2px solid #000000;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 240px); /* Adjust based on sidebar or other elements */
    height: calc(100vh - 100px); /* Adjusted to account for fixed elements */
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    overflow: auto; /* Optional based on internal content */
}

.btn {
    padding: 10px 20px;
}

.hello-world-text {
    position: center;
    top: 20px;
    width: 100%;
    text-align: center;
}

/* * for classes, # for ids */

#helloworldimg {
    display: block; /* Makes the margin auto applicable */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.75);
}